.settings-container {
    margin-left: 9px;
    margin-top: 1px;
}

.settings-header {
    font-size: 19px;
    -unity-font-style: bold;
    margin-bottom: 12px;
}

.settings-control > Label {
    min-width: 150px;
}

.settings-button.unity-button {
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    -unity-background-scale-mode: scale-to-fit;
}
